
:root{
    --primario:#9c2780;
    --primarioOscuro: #891190;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233,287,2);
    --blanco:#fff;
    --negro:#000;

    --fuente:'Staatliches', sans-serif;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-size: 1.6rem;
    line-height: 1.5;
}

.contenedor{
    padding: 20px auto;
}
.target{
    display:grid;
    grid-template-columns: repeat(2, 1fr);   
    gap: 2rem;                 
}


.target__imagen{
    text-align: end;

}

form{
    display: inline-block;
   
}

.target__input_a{
    background-color: var(--primario);
    margin:20px 0;
    border: none;
    border: 4px solid var(--negro);
  
    width: 180px;
    color: var(--blanco);
  
}
::placeholder{
    color: #fff;
}
.target__input_b{
    background-color: var(--primario);
    margin:0 0 20px 0;
    border: none;
    border: 4px solid var(--negro);
    width: 180px;
    color: var(--blanco);
    display: inline-block;
  

}


.target_boton{
    background-color: var(--secundario);
    border: none;
    border-radius: 10px;
    width: 30%;
    height: 40px;
    font-size: 20px;
}

.target_boton:hover{
    background-color: var(--secundarioOscuro);
}
.target_boton:active{
    background-color: var(--negro);
    color: var(--secundario);
}


@media (max-width: 1048px ){
    .target{
        grid-template-columns: repeat(1, 100%);   
                    
    }  
    .target__imagen{
        text-align: center;
    
    }


    .target__input{
        text-align: center;
      
    }
    div{
        text-align: center;
    }
}


@media (max-width: 550px ){




    .target__input{
        text-align: center;
      
    }

    .target_boton{
     
        width: 80%;
        height: 5rem;
        margin: 1rem;
    
    }
}
